
doctype html 
html(lang="eng")
  head
    meta(charset="utf-8")
    style(rel="stylesheet", href="../css/base.css")
    block additionalStyles
    title= emailTitle
  body
    block content 
    block footer
    