

extends base.pug 

block additionalStyles
  link(rel="stylesheet", href="../css/newUser.css")


block content
  h1 Welcome to Golden City Model Management 
  p
    |Hello #{user.name.split(' ')[0]},
  p
    |You have been added to the Golden City Model Management team 
  p 
    |Please use the following credentials to login:
  ul
    li 
      |Username: #{user.userName}
    li 
      |Password: #{user.password}
    
    | Follow this 
    a(href=links.login)
      |link
    |to login
  p 
    |Feel free to change your username and password once you are signed in.
  p
    |Kind Regards,
    br 
    |The Golden City Model Management Team

block footer
  p
    | &copy; Golden City Model Management, Inc. 
    br
    | All rights reserved.