


extends base.pug 

block additionalStyles
  link(rel="stylesheet", href="../css/newUser.css")


block content
  h1 Password Reset Request 
  p
    |Hello #{user.name.split(' ')[0]},
  p
    |You have requested a password reset.
  p 
    |Please click on the link below to reset your password.
  p
    a(href=links.resetPassword)
      |Reset Password
  p 
    |If you did not request a password reset, please ignore this email.
  p
    |Kind Regards,
    br 
    |The Golden City Model Management Team

block footer
  p
    | &copy; Golden City Model Management, Inc. 
    br
    | All rights reserved.